/*------------------------------------------------------------------------------

Template:  Theme Name
Author: 
Version: 1
Design and Developed by: 

Note: This core style file includes all external plugins css file.

-------------------------------------------------------------------------------*/

/*Font*/
