.vc_custom_1485139818778 {
    background-image: url(/assets/images/bg-dark-small-full.jpg?id=742) !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}
.vc_custom_1484883332538 {
    background-color: #f8f8f8 !important;
}
.vc_custom_1484885046824 {
    background-color: #f8f8f8 !important;
}
.vc_custom_1480577657936 {
    background-image: url(/assets/images/background-image-01.jpg?id=59) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1485091686429 {
    background-color: #1c1d49 !important;
}
.vc_custom_1481266908202 {
    margin-bottom: 60px !important;
}
.vc_custom_1480576075583 {
    margin-left: -10px !important;
}
.vc_custom_1480576328532 {
    background-color: rgba(255, 255, 255, 0.3) !important;
    *background-color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
}
.vc_custom_1480576336081 {
    background-color: rgba(255, 255, 255, 0.3) !important;
    *background-color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
}